.section-contacts {
    padding-bottom: 40px;
    padding-top: 60px;
    font-family: var(--primary-font-family);
    /*background: #E5E5E5;*/
    
    color: var(--primary-text-color);
    
    background-image: linear-gradient(to bottom,
                #fafafa 21%,
                var(--background-color) 21%,
                var(--background-color) 100%);
    @media screen and (min-width: 320px) {
            width: 320px;
        }
}

.container-section {
    width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    
        
}
.hidden {
    display: none;
}
.cards-section {
    width: 280px;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h4 {
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1, 83;
    color: var(--primary-text-color);
}
/*
.cards-section {
    padding-top: 4896px;
    padding-bottom: 40px;
}
.cards-section:last-child {
    padding-bottom: 0px;
}*/

.card-section-item {
    display: inline-block;
    margin-bottom: 20px;
    padding: 40px 32px;
    width: 216px;
    height: 332px;
    background-color: var(--white-color);
    border-radius: 24px;
}
.container-one,
.container-two,
.contacts-container {
    display: inline-block;
}

.cafe {
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    margin-bottom: 20px;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    font-family: var(--primary-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: #F0D1A5;
}

.foodtrack {
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        width: 130px;
        height: 16px;
        border-radius: 4px;
        font-family: var(--primary-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: var(--white-color);
        background-color: #C2E297;
}

.city {
    margin-bottom: 8px;
    width: 57.01px;
    height: 22px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
}
.city-la {
    width: 75px;
    
}
.line {
    margin-bottom: 24px;
    width: 216px;
    height: 0px;
    border-bottom: 1px solid #E1E1E1;
}
.work-time {
    margin-bottom: 24px;
    width: 137.96px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1, 83;
    color: var(--secondary-accent-color);
}

.contacts-container {
    
    width: 179px;
    height: 37px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--secondary-text-color);
}

.description {
    margin-bottom: 24px;
    width: 179px;
    height: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    
    color: var(--secondary-text-color);
}
.contacts-mail {
    color: var(--secondary-text-color);
&:focus,
&:hover {
    color: #2196F3;
}
}
.contacts-tel {
    color: var(--secondary-text-color);

    &:focus,
    &:hover {
        color: #2196F3;
    }
}

.location {
    display: flex;
    justify-content: center;
    align-content: center;
}