.section-contacts {
    padding-bottom: 40px;
    padding-top: 60px;
    font-family: 'DM Sans' sans-serif;
    /*background: #E5E5E5;*/
    
    color: var(--primary-text-color);
    
    background-image: linear-gradient(to bottom,
                #fafafa 21%,
                var(--background-color) 21%,
                var(--background-color) 100%);
    @media screen and (min-width: 320px) {
            width: 320px;
        }
}

.container-section {
    width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    
        
}
.hidden {
    display: none;
}
.cards-section {
    width: 280px;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h4 {
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1, 83;
    color: var(--primary-text-color);
}

.cards-section {
    /* padding-top: 4896px; */
    padding-bottom: 40px;
}

.card-section-item {
    display: inline-block;
    margin-bottom: 20px;
    padding: 40px 32px;
    width: 216px;
    height: 332px;
    background-color: var(--white-color);
    border-radius: 24px;
}
.container-one,
.container-two,
.contacts-container {
    display: inline-block;
}

.h3 {
    
    
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .06em;
    border: none;
    
}

.cafe {
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: #F0D1A5;
}

.foodtrack {
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 130px;
        height: 16px;
        border-radius: 4px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: var(--white-color);
        background-color: #C2E297;
}
.work-time {
    width: 137.96px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1, 83;
    color: var(--secondary-accent-color);
}

.contacts-container {
    padding-top: 24px;
    width: 179px;
    height: 37px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--secondary-text-color);
}

.description {
    width: 216px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--primary-text-color);
}

.container-2 {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.buttons-section {}