<section class="main-container">
    <h2>Contacts </h2>
    <ul class="cards-section">
        <!-- 1-card-section -->
        <li class="1-card-section">
            <div class="container-1">
                <button type="button" class="button btn-index">CAFE</button>
                <h1>Chicago</h1>
                <p class="description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
            </div>
            <div class="container-2">
                <h1>Monday - Friday</h1>
                <p class="work-time">
                    06:00 AM - 10:00 PM
                </p>
                <h1>Saturday - Sunday</h1>
                <p class="work-time">
                    08:00 AM - 16:00 PM
                </p>
            </div>
            <div class="contacts-container">
                <ul>
                    <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
                    <li><a href="tel:+380991111111">+38 099 111 11 11</a></li>
                </ul>
            </div>
        </li>
        <!-- 2-card-section -->
        <li class="2-card-section">
            <div class="container-1">
                <button type="button" class="button btn-index">FOODTRACK</button>
                <h1>Los Angeles</h1>
                <p class="description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
            </div>
            <div class="container-2">
                <h1>Monday - Friday</h1>
                <p class="work-time">
                    06:00 AM - 10:00 PM
                </p>
                <h1>Saturday - Sunday</h1>
                <p class="work-time">
                    08:00 AM - 16:00 PM
                </p>
            </div>
            <div class="contacts-container">
                <ul>
                    <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
                    <li><a href="tel:+380991111111">+38 099 111 11 11</a></li>
                </ul>
            </div>
        </li>
        <!-- 3-card-section -->
        <li class="3-card-section">
            <div class="container-1">
                <button type="button" class="button btn-index">CAFE</button>
                <h1>New York</h1>
                <p class="description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
            </div>
            <div class="container-2">
                <h1>Monday - Friday</h1>
                <p class="work-time">
                    06:00 AM - 10:00 PM
                </p>
                <h1>Saturday - Sunday</h1>
                <p class="work-time">
                    08:00 AM - 16:00 PM
                </p>
            </div>
            <div class="contacts-container">
                <ul>
                    <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
                    <li><a href="tel:+380991111111">+38 099 111 11 11</a></li>
                </ul>
            </div>
        </li>
        <!-- buttons-section -->
    </ul>
    <ul class="buttons">
        <li class="location">
            <button type="button" class="button btn-index">Our Locations</button>
        </li>
        <li class="franchise">
            <button type="button" class="button btn-index">CAFEFranchise</button>
        </li>
    </ul>

</section>